.card {
  width: 400px;
  max-height: 270px;
  position: relative;
  list-style-type: none;
  border-radius: .3rem;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.imageProject {
  width: 100%;
  height: 100%;
}

.containerLinks {
  position: absolute;
  width: 100%;
  top: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.795);
  visibility: hidden;
  overflow-y: hidden;
  transition: .5s;
}

.linkSite, .linkCode {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 9rem;
  padding: .4rem 0 .4rem .7rem;
  border-radius: 8px;
  font-weight: 500;
  background-image: linear-gradient(130deg, var(--color-background-primary) 65%, var(--color-background-secondary));
  background-size: 500%, 100%;
  color: var(--color-white);
  box-shadow: var(--color-background-tertiary-shadow) 0px 10px 50px;
  text-decoration: none;
  transition: ease-in-out .3s;
}

.linkSite img, .linkCode img {
  width: 30px;
}

.linkCode img {
  height: 30px;
}

.card:hover .containerLinks {
  top: 0;
  visibility: visible;
}

/* MUDA O EFEITO DE LINEAR GRADIENTE DOS LINKS (SITE E CÓDIGO) */
@keyframes linear-gradient {
  0%{
    background-position-x: 65%;
  }
  100%{
    background-position-x: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .linkSite:hover, .linkCode:hover {
    transform: translateX(10px);
    animation: linear-gradient ease 1s infinite alternate;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .card {
    flex-grow: 0;
    width: 100%;
    max-height: 480px;
  }

  .linkSite:hover, .linkCode:hover {
    transform: translateX(10px);
    animation: linear-gradient ease 1s infinite alternate;
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-height: 100%;
    position: static;
  }

  .containerLinks {
    background-color: var(--color-background-primary);
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
    visibility: visible;
    position: static;
    transition: none;
  }

  .linkSite, .linkCode {
    background-image: none;
    transition: none;
    background-color: var(--color-background-primary);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
    text-decoration: none;
  }

  .linkSite:active, .linkCode:active {
    color: var(--color-active);
    transform: scale(1.1);
    text-decoration: underline;
  }
}