:root {
  --color-background-primary: hsl(180, 7%, 19%);
  --color-background-secondary: hsl(180, 26%, 25%);
  --color-background-tertiary: hsl(182, 81%, 29%);
  --color-background-tertiary-shadow: hsla(182, 82%, 26%, 0.171);
  --color-background-tertiary-hover: hsl(182, 80%, 22%);
  --color-highlight: hsl(166, 32%, 85%);
  --color-white: hsl(0, 0%, 100%);
  --color-active: hsl(24, 64%, 62%);

  --font-primary: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  height: 100vh;
  font-family: var(--font-primary);
  font-weight: 400;
  background-color: var(--color-background-primary);
  color: var(--color-white);
}
